@font-face {
  font-family: SGKara-Regular;
  src: url(fonts/SGKara-Regular.ttf);
}

@font-face {
  font-family: SGKara-SemiBold;
  src: url(fonts/SGKara-SemiBold.ttf);
}

@font-face {
  font-family: SGKara-Light;
  src: url(fonts/SGKara-Light.ttf);
}

body {
  background-color: #ffffff;
  direction:rtl;
  font-family: SGKara-Regular;
}

header {
  background: linear-gradient(135deg, #d1dae3, #b7d0eb);
  color: #007bff;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  text-align:center;
}

h1, h2, h3, h4, h5 {
  color: #0c0d0d;
  font-family: SGKara-SemiBold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* اطمینان از پر شدن صفحه */
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* حداقل ارتفاع برابر ارتفاع ویوپورت */
}

main {
  flex: 1; /* گرفتن فضای باقی‌مانده */
}

footer {
  background-color: #343a40;
  color: white;
}
