@font-face {
  font-family: SGKara-Regular;
  src: url(fonts/SGKara-Regular.ttf);
}

@font-face {
  font-family: SGKara-SemiBold;
  src: url(fonts/SGKara-SemiBold.ttf);
}

@font-face {
  font-family: SGKara-Light;
  src: url(fonts/SGKara-Light.ttf);
}

body {
  background-color: #97b8b7;
  direction:rtl;
  font-family: SGKara-Regular;
}

header {
  background: linear-gradient(135deg, #007bff, #00c4ff);
  background-color: grey;
  color: #007bff;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  text-align:center;
}

h1, h2, h5 {
  color: #007bff;
}

footer {
  background-color: #343a40;
  color: #fff;
}
