body {
  font-family: Arial, sans-serif;
}

header {
  background: linear-gradient(135deg, #007bff, #00c4ff);
}

h1, h2, h5 {
  color: #007bff;
}

footer {
  background-color: #343a40;
  color: #fff;
}
